$primary-color: #272727;
$secondary-color: #ff652f;

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@mixin grid-display {
    width: 60vw;
    margin: 4rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
}

@mixin grid-items {
    background: lighten($primary-color, 10%);
    padding: 2rem;
    border-bottom: 5px solid $secondary-color;
    margin-bottom: 1.4rem;
    box-shadow: 20px 20px 40px 0px rgba(0,0,0,0.35);
}

@function set-text-color($color) {
    @if (lightness($color) > 40%) {
        @return #000;
    }
    @else {
        @return #fff;
    }
}

@mixin media-md {
    @media screen and (min-width: 768px){
        @content;
    }
}
@mixin media-lg {
    @media screen and (min-width: 1024px){
        @content;
    }
}
@mixin media-xl{
    @media screen and (min-width: 1400px){
        @content;
    }
}